* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../pictures/191204211613-01-pantone-color-classic-blue-2020.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    margin: 5% 0 5% 0;
    font-size: 40px;
    background-color: rgba(141, 161, 228, 0.74);
    color: rgb(0, 0, 0);
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    img {
        border: silver 3px solid;
        width: 80%;
        height: auto;
    }
}

p {
    margin: 0 10% 5% 10%;
    text-align: justify;
    background-color:  rgba(141, 161, 228, 0.74);
    font-size: 24px;
    padding: 1%;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    span {
        color: silver;
        font-size: 18px;
    }
    
}
